@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&family=Roboto+Mono:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Dark:hsl(185, 75%, 39%) ;
    --VeryDark:hsl(229, 23%, 23%);
    --Grayish:hsl(227, 10%, 46%);
}


body{

}
.container{
    position: relative;
    display: flex;
    justify-content: end;
    background-color: var(--Dark);
    /* background-image: url(./images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: -40vh; */
}
.card{
    position: relative;
    /* margin-top: 10%; */
    margin: 10% auto;
    text-align: center;
    width: 330px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
}
.img{
    position: absolute;
    left: 0;
    top: 0;
    width: 330px;
    border-radius: 10px 10px 0 0;
    z-index: 1;
}
.foto{
    position: absolute;
    z-index: 2;
    border: solid 2px white;
    border-radius: 50%;
    top: 22%;
    left: 36%;
}
.text{
    position: absolute;
    top: 60%;
    left: 0%;
    
}
hr{
    width: 330px;
}
p{
    margin-top: 10px;
    margin-bottom: 20px;
}
h2{
    margin-top: -20px;
    font-family: "Kumbh Sans";
}
.cifras{
    position: absolute;
    display: flex;
    top: 80%;
    left: 35%;
}
.one{
    margin-top: 15px;
    margin-right: 35px;
    margin-left: -65px;
}
.two{
    margin-right: 45px;
    margin-top: 15px;
}
.three{
    margin-top: 15px;
}
/* .circuloTop{
    position: absolute;
    width: 50%;
    height: 50vh;
}
.circuloBoton{
    position: absolute;
    width: 50%;
    height: 50vh;
}
.circuloTop{

} */
.circulo-Top, .circulo-Boton{
    position: absolute;
    width: 650px;
    height: 100vh;
    border: solid 1px red;
}
.Img-Top, .Img-Boton{
    position: absolute;
    width: 650px;
    height: 100vh;
}